<html>
<head>
  <title><%= form_title %></title>

  <% if font_config %>
    <script src="https://ajax.googleapis.com/ajax/libs/webfont/1.6.26/webfont.js"></script>
    <script>WebFont.load(<%== font_config %>);</script>
  <% end %>

  <% if font_styles %>
    <style>
      <%== font_styles %>
    </style>
  <% end %>

  <style>
    @page {
      size: A4;
      margin: 55px 75px 85px 45px;
      @bottom-right {
        font-family: <%== font_family %>;
        content: '<%= page_copy %> ' counter(page);
        font-size: 10pt;
        margin-bottom: 35px;
      }
    }

    body { font-family: <%== font_family %>; }
    h1, h2, h3 { margin-bottom: 7px; }
    p { margin-top: 0; margin-bottom: 4px;}
    h1 { font-size: 15pt; }
    h2 { font-size: 13pt; line-height: 1.3; }
    h3 { font-size: 11pt; line-height: 1.3; display: inline-flex; }
    h4, p, li, td, th { font-size: 11pt; line-height: 1.3; }
    img { max-width: 480px; height: auto; }

    div.line { border-bottom: solid 1px #000; margin: 10px 0; height: 25px; }

    div.options { margin-top: 10px; }
    div.options.columns { display: grid; grid-template-columns: repeat(2, 1fr); }
    div.select {
      display: grid;
      grid-template-columns: 20px 1fr;
      font-size: 11pt;
      line-height: 1.3;
      margin-bottom: 4px;
      div.text { padding-right: 10px; }
      input { appearance: none; width: 14px;  height: 14px; border: solid 1px #000; margin: 1px 10px 5px 0; }
      input.radio { appearance: none; border-radius: 7px; }
    }

    h3 span.text { width: fit-content; }
    h3 span.number { width: 30px; }
    h3 span.optional { font-weight: normal; }

    div.ranking { display: flex; align-items: center; margin-top: -6px; font-size: 11pt; }
    div.ranking-box { border: solid 1px #000; width: 24px; height: 24px; margin: 8px 10px 8px 2px; display: inline-block; }
    div.field-group { page-break-inside: avoid; }

    #header {
      margin: 0 0 30px 0;
      img { height: auto; }
      h1 { margin-top: 10px; }
    }

    #footer {
      margin: 30px 0 0 0;
    }

    #personal-data {
      margin: 0 0 30px 0;
      page-break-after: always;
      div.select { margin-top: 20px; }
    }

    #questions {
      h4 { margin-left: 30px; }
      img { margin-top: 10px; max-width: 480px; height: auto; }
      div.content { margin-left: 30px; }
      div.question, div.page { margin-bottom: 10px; }
      div.unsupported p, div.visibility_disclaimer p { color: #666; font-style: italic; }
      div.image-select {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 10px;
        margin-bottom: 10px;
        div.image {
          border: #ccc solid 1px;
          margin-bottom: 10px;
          height: 140px;
          text-align: center;
          background: #eee;
          img { object-fit: contain; height: 100%; width: 100%; }
          svg { border-radius: 5px; object-fit: contain; height: 50px; margin: 45px 0 45px 0; }
        }
      }
      div.matrix {
        table {
          margin-top: 10px;
          border-collapse: collapse;
          width: 100%;
          th, td {
            border-bottom: 1px solid #000;
            padding: 5px;
            text-align: center;
            font-weight: normal;
          }
          td.statement {
            text-align: left;
          }
        }
      }
      div.mapping {
        img { width: 480px; }
        div.line { width: 480px; }
      }
      div.page {
        margin-right: 30px;
      }
    }
  </style>
</head>
<body>

<!-- Logo, Title and Instructions (configurable) -->
<div id="header">
  <%= sanitize header %>
</div>

<!-- Personal data section -->
<% if personal_data[:enabled] %>
  <div id="personal-data">
    <h2><%= personal_data[:heading] %></h2>
    <p><%= personal_data[:intro] %></p>
    <h3>
      <span class="text">
        <%= personal_data[:first_name] %>
        <span class="optional"><%= optional %></span>
      </span>
    </h3>
    <div class="line"></div>
    <h3>
      <span class="text">
        <%= personal_data[:last_name] %>
        <span class="optional"><%= optional %></span>
      </span>
    </h3>
    <div class="line"></div>
    <h3>
      <span class="text">
        <%= personal_data[:email_address] %>
        <span class="optional"><%= optional %></span>
      </span>
    </h3>
    <div class="line"></div>
    <div class="select">
      <div><input type="checkbox" class="checkbox"></div>
      <div><%= personal_data[:checkbox] %></div>
    </div>
  </div>
<% end %>

<div id="questions">
  <% fields.each do |field| %>
  <% if field[:field_group][:start] %><div class="field-group"><% end %>
    <% if field[:input_type] == 'page' %>
      <div class="page" id="<%= field[:id] %>">
        <h2><%= field[:title] %></h2>
        <%= sanitize field[:description] %>

        <% if field[:map_url] %>
          <img alt="" src="<%= field[:map_url] %>">
        <% end %>

      </div>

    <% else %>
      <div class="question" id="<%= field[:id] %>">
        <% if field[:additional_text_question] %>
          <h4><%= field[:title] %></h4>
        <% else %>
          <h3>
            <span class="number"><%= field[:question_number] %> </span>
            <span class="text">
              <%= field[:title] %>
              <% if field[:optional] %>
                <span class="optional"><%= optional %></span>
              <% end %>
            </span>
          </h3>
        <% end %>
        <div class="content">
          <%== sanitize field[:description] %>

          <% if field[:format] == :single_select %>
            <div class="options <% if field[:option_columns] %>columns<% end %>">
              <% field[:options].each do |option| %>
                  <div class="select">
                    <div><input type="radio" class="radio"></div>
                    <div class="text"><%= option[:title] %></div>
                  </div>
              <% end %>
            </div>

          <% elsif field[:format] == :multi_select %>
            <div class="options <% if field[:option_columns] %>columns<% end %>">
              <% field[:options].each do |option| %>
                <div class="select">
                  <div><input type="checkbox" class="checkbox"></div>
                  <div class="text"><%= option[:title] %></div>
                </div>
              <% end %>
            </div>

          <% elsif field[:format] == :multi_select_image %>
            <div class="image-select">
              <% field[:options].each do |option| %>
                <div>
                  <div class="image">
                    <% if option[:image_url] %>
                      <img alt="<%= option[:title] %>" src="<%= option[:image_url] %>" />
                    <% else %>
                      <!-- No image placeholder -->
                      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 180.119 139.794">
                        <g transform="translate(-13.59 -66.639)">
                          <path fill="#d0d0d0" d="M13.591 66.639H193.71v139.794H13.591z"/>
                          <path d="m118.507 133.514-34.249 34.249-15.968-15.968-41.938 41.937H178.726z" opacity=".675" fill="#fff"/>
                          <path fill="none" d="M26.111 77.634h152.614v116.099H26.111z"/>
                        </g>
                      </svg>
                    <% end %>
                  </div>
                  <div class="select">
                    <div><input type="checkbox" class="checkbox"></div>
                    <div class="text"><%= option[:title] %></div>
                  </div>
                </div>
              <% end %>
            </div>

          <% elsif field[:format] == :multi_line_text %>
            <% 7.times do %>
              <div class="line"></div>
            <% end %>

          <% elsif field[:format] == :single_line_text %>
            <div class="line"></div>

          <% elsif field[:format] == :ranking %>
            <div class="options">
              <% field[:options].each do |option| %>
                <div class="ranking">
                  <div class="ranking-box"></div>
                  <div><%= option[:title] %></div>
                </div>
              <% end %>
            </div>

          <% elsif field[:format] == :matrix_linear_scale %>
            <div class="matrix">
              <table>
                <tr>
                  <th></th>
                  <% field[:matrix][:labels].each do |label| %>
                    <th style="width: <%= field[:matrix][:label_width] %>%"><%= label %></th>
                  <% end %>
                </tr>
                <% field[:matrix][:statements].each do |statement| %>
                  <tr>
                    <td class="statement"><%= statement %></td>
                    <% field[:matrix][:labels].each do |_| %>
                      <td><input type="radio" class="radio"></td>
                    <% end %>
                  </tr>
                  <% end %>
              </table>
            </div>

          <% elsif field[:format] == :mapping %>
            <div class="mapping">
              <% if field[:input_type] == 'point' %>
                <div class="line"></div>
                <div class="line"></div>
              <% end %>
              <img alt="" src="<%= field[:map_url] %>">
            </div>

          <% else %>
            <div class="unsupported">
              <p><%= unsupported_field_text %></p>
            </div>

          <% end %>
          <div class="visibility_disclaimer">
            <p><%= field[:visibility_disclaimer] %></p>
          </div>
        </div>
      </div>
    <% end %>
  <% if field[:field_group][:end] %></div><% end %>
<% end %>
</div>

<!-- configurable end text footer -->
<% if footer %>
  <div id="footer">
    <%== footer %>
  </div>
<% end %>

</body>
</html>
