<html>
<head>
  <title><%= form_title %></title>

  <% if font_config %>
    <script src="https://ajax.googleapis.com/ajax/libs/webfont/1.6.26/webfont.js"></script>
    <script>WebFont.load(<%== font_config %>);</script>
  <% end %>

  <% if font_styles %>
    <style>
      <%== font_styles %>
    </style>
  <% end %>

  <style>
      @page {
        size: A4;
        margin: 40px 40px 80px;
        @bottom-right {
          font-family: <%== font_family %>;
          content: '<%= page_copy %> ' counter(page);
          margin-bottom: 10px;
        }
      }

      body { font-family: <%== font_family %>; }
      h1 { font-size: 18pt; }
      h2 { font-size: 16pt; }
      h3 { font-size: 14pt; }
      h4, p, li { font-size: 12pt; }

      div.line { border-bottom: solid 1px #000; margin: 10px 0; height: 25px; }
      div.select { display: flex; align-items: center; margin-top: -6px; }
      div.checkbox { border: solid 1px #000; width: 12px; height: 12px; margin: 8px 10px 8px 4px; display: inline-block; }
      div.radio { border-radius: 50%; }
      span.optional { font-weight: normal; }
      div.field-group { page-break-inside: avoid; }

      #header {
        margin-bottom: 30px;
        img { height: auto; }
        h1 { margin-top: 0; }
      }

      #personal-data {
        page-break-after: always;
      }

      #questions {
        h2, h3 { margin-bottom: 8px; }
        span.number { width: 30px; display: inline-block; }
          div.content {
            margin-left: 30px;
            margin-right: 30px;
          }
        p { margin-top: 0; margin-bottom: 4px;}
        div.question, div.page { margin-bottom: 30px; }
        div.unsupported p, div.visibility_disclaimer p { color: #666; font-style: italic; }
      }
  </style>
</head>
<body>

<!-- Logo, Title and Instructions (configurable) -->
<div id="header">
  <%= sanitize header %>
</div>

<!-- Personal data section -->
<% if personal_data[:enabled] %>
  <div id="personal-data">
    <h2><%= personal_data[:heading] %></h2>
    <p><%= personal_data[:intro] %></p>
    <h3><%= personal_data[:first_name] %> <span class="optional">(<%= optional %>)</span></h3>
    <div class="line"></div>
    <h3><%= personal_data[:last_name] %> <span class="optional">(<%= optional %>)</span></h3>
    <div class="line"></div>
    <h3><%= personal_data[:email_address] %> <span class="optional">(<%= optional %>)</span></h3>
    <div class="line"></div>
    <div class="select">
      <div class="checkbox"></div>
      <p><%= personal_data[:checkbox] %></p>
    </div>
  </div>
<% end %>

<div id="questions">
<% fields.each do |field| %>
  <% if field[:field_group][:start] %><div class="field-group"><% end %>
    <% if field[:input_type] == 'page' %>
      <div class="page">
        <h2><%= field[:title] %></h2>
        <%= sanitize field[:description] %>
      </div>

    <% else %>
      <div class="question">
        <% if field[:additional_text_question] %>
          <h4><span class="number"> </span><%= field[:title] %></h4>
        <% else %>
          <h3>
            <span class="number"><%= field[:question_number] %> </span><%= field[:title] %>
            <% if field[:optional] %>
              <span class="optional"><%= optional %></span>
            <% end %>
          </h3>
        <% end %>
        <div class="content">
          <%== sanitize field[:description] %>

          <p><%= field[:multiselect_print_instructions] %></p>

          <% if field[:format] == :single_select %>
            <div class="options">
              <% field[:options].each do |option| %>
                  <div class="select">
                    <div class="checkbox radio"></div>
                    <div><%= option[:title] %></div>
                  </div>
              <% end %>
            </div>

          <% elsif field[:format] == :multi_select %>
            <div class="options">
              <% field[:options].each do |option| %>
                <div class="select">
                  <div class="checkbox"></div>
                  <div><%= option[:title] %></div>
                </div>
              <% end %>
            </div>

          <% elsif field[:format] == :multi_line_text %>
            <% 7.times do %>
              <div class="line"></div>
            <% end %>

          <% elsif field[:format] == :single_line_text %>
            <div class="line"></div>

          <% else %>
            <div class="unsupported">
              <p><%= unsupported_field_text %></p>
            </div>

          <% end %>
          <div class="visibility_disclaimer">
            <p><%= field[:visibility_disclaimer] %></p>
          </div>
        </div>
      </div>
    <% end %>
  <% if field[:field_group][:end] %></div><% end %>
<% end %>
</div>

<!-- configurable end text footer -->
<% if footer %>
  <div id="footer">
    <%== footer %>
  </div>
<% end %>

</body>
</html>
